{% extends "layout.html" %}

 {%block title%}
    Notas
 {%endblock%}

 {%block main%}
    <div class="container">
        
            
        <form method="post" action="/notas" enctype="multipart/form-data">
            <input type="file" name="arquivo_pdf">
            <input type="submit" value="Enviar PDF">
        </form>
            
        
    </div>
    {% if tabelas != 0 %}
        {% for tabela in tabelas %}
        <table>
            {% for linha in tabela %}
                <tr>
                    {% for coluna in linha %}
                        <td>{{ coluna }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        {% endfor %}
    {%endif%}
 {%endblock%}